annotated-types>=0.7.0
beautifulsoup4>=4.12.3
certifi>=2024.6.2
charset-normalizer>=3.3.2
future>=1.0.0
idna>=3.7
packaging>=24.0
pycodestyle>=2.11.1
pydantic>=2.7.3
pydantic-settings>=2.3.1
pydantic_core>=2.18.4
python-dateutil>=2.9.0.post0
python-dotenv>=1.0.1
python-whois>=0.9.4
requests>=2.32.3
six>=1.16.0
soupsieve>=2.5
tomli>=2.0.1
typing_extensions>=4.12.1
urllib3>=2.2.1
